# Proxmox Secrets
ROOT_PASSWORD="your_secure_password"
ADMIN_EMAIL="admin@example.com"
FQDN_LOCAL="domain.local"

# Terraform/Tailscale
PROXMOX_API_SECRET="your_proxmox_api_secret"
TAILSCALE_AUTH_KEY="your_tailscale_auth_key"
SSH_PUBLIC_KEY="ssh-rsa your_public_key_here"
